.alter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1B2730;
    height: 130px;
}

.menu-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x-icon {
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1B2730;
    margin-bottom: 10px;
}


.connect-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.menu-divider {
    font-size: 35px;
    color: #17212b;
    padding: 20px;
}

select#activation {
    padding: 5px 10px;
    width: 300px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    color: white;
}

option {
    color: #17212b;
}

.softmax-checkbox {
    font-size: 15px;
    margin: 10px;
    padding: 0;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button {
    border-radius: 5px;
    margin-left: 30px;
}

.formulario.exemplo {
    display: flex;
    justify-content: center;
}

input.menu-input {
    margin: 0;
    width: 50px;
    padding: 0!important;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.menu-form {
    align-items: normal;
}

#neural-network-id {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    transform: scale(.82);
}

button.show-button {
    background: white;
    border: 1px solid transparent;
    color: #1b2730;
    margin-left: 50px;
    transition: .5s;
}

a{text-decoration: none;}