.code-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #1D2333;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    line-height: 25px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.yellow{
    color: #dcdcaa;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment{
    color: #8b949e;
}

.blue{
    color: #569cd6;
}

.orange{
    color: #ce9178;
}